<form action="postdata.php?set=note&token=531dfqwe34" method="post">
   name:<br>
  <input type="text" name="title" value="Mickey"><br>
  name:<br>
  <input type="text" name="desc" value="Mouse"><br><br>
  <input type="submit" value="Submit">
</form>
