<form action="postdata.php?set=timetable_event&token=531dfqwe34" method="post">
  title:<br>
  <input type="text" name="title" value="Mickey"><br>
  desc:<br>
  <input type="text" name="desc" value="Mouse"><br><br>
  notes:<br>
  <input type="text" name="notes" value="Mouse"><br><br>
  day:<br>
  <input type="text" name="day" value="Mouse"><br><br>
  hour:<br>
  <input type="text" name="hour" value="Mouse"><br><br>
  minute:<br>
  <input type="text" name="minute" value="Mouse"><br><br>

  <input type="submit" value="Submit">
</form>
