<form action="postdata.php?set=calendar_event&token=531dfqwe34" method="post">
  title:<br>
  <input type="text" name="title" value="Mickey"><br>
  desc:<br>
  <input type="text" name="desc" value="Mouse"><br><br>
  notes:<br>
  <input type="text" name="notes" value="Mouse"><br><br>
  timestamp:<br>
  <input type="text" name="timestamp" value="0"><br><br>
  <input type="submit" value="Submit">
</form>
